name: Nix Derivation
on:
  pull_request:
    branches: [ master ]  
  push:
    branches: [ master, dev ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Build package
        run: nix build -f default.nix
